@model AccountServices.Models.PasswordReset

@{
    ViewData["Title"] = "Password Reset";
}

<h1>Password Reset</h1>

<p class="pwResetSuccess">Password reset successful!</p>

<div class="row">
    <div class="col-md-4">

    </div>
</div>
