@model AccountServices.Models.PasswordReset



@{
    ViewData["Title"] = "Password Reset";
}

<h1>Password Reset</h1>

<div class="row">
    <div class="col-md-4">
        <div class="resetSubmitMessage">
            Check your email for the verification we sent and submit it here with your new password.
        </div>
        <form asp-action="SubmitNewPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VerificationCode2" class="control-label"></label>
                <input asp-for="VerificationCode2" class="form-control" />
                <span asp-validation-for="VerificationCode2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmedPassword" class="control-label"></label>
                <input asp-for="ConfirmedPassword" class="form-control" />
                <span asp-validation-for="ConfirmedPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit New Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>