@model AccountServices.Classes.HomePage

@{
    ViewData["Title"] = "Account Services";
}

<div class="text-center">
    <h3 class="display-4">@Html.DisplayFor(model => model.domain) Account Services</h3>
</div>
